{% extends 'courier/base.html' %}

{% block title %}{{ request.user.get_full_name }} - payout settings dashboard{% endblock %}


{% load bootstrap5 %}

{% block head %}
<style>
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background-color: #ff9800 !important;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    }
    .header>a>i {
    background: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    }
</style>
{% endblock%}

{% block content %}

<div class="header">
    <a href="{% url 'courier:profile' %}" class="me-2">
        <i class="fas fa-chevron-left text-dark"></i>
    </a>
    <h5 class="text-white pt-2 ps-2">Payout payment form</h5>
</div>

<div class="container-fluid" style="padding-top: 80px;">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form courier_payment_form %}
            <input type="hidden" name="action" value="payout_form">
            <button type="submit" class="btn btn-warning btn-block">Save Information</button>
        </form>
</div>
  
{% endblock %}