
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<script>

    // Your web app's Firebase configuration
    var firebaseConfig = {
    apiKey: "AIzaSyCa5F_L0DcGP3OF5Yt3PUl50YCmsv2qWTU",
    authDomain: "parcelman-e55f5.firebaseapp.com",
    projectId: "parcelman-e55f5",
    storageBucket: "parcelman-e55f5.appspot.com",
    messagingSenderId: "878641670384",
    appId: "1:878641670384:web:b8015b099b80b93b357a35"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
</script>
