{% extends "base.html" %}

{% load bootstrap5 %}

{% block title %}
    {% if request.GET.next != "/courier/" %}Customer{% else %}Courier{% endif %} sign-in
{% endblock %}

{% block content %}

<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-uppercase mb-4">
                        <b>
                            {% if request.GET.next != "/courier/" %}
                            Customer
                            {% else %}
                            Courier
                            {% endif %}
                        </b>
                    </h4>

                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-outline-warning btn-block white">
                            sign-up
                        </button>
                        <p class="text-center mt-3">
                            Already have an account? <a href="/sign-in/?next={{ request.GET.next }}" class="text-decoration-none">sign-in</a>
                        </p>
                        <hr>
                        <a href="{% url 'social_auths:begin' 'facebook' %}?next={{ request.Get.next }}" 
                        class="btn btn-outline-primary btn-block">Sign in with Facebook
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}